<div class="banner banner_type_small">
  <div class="container">
    <div class="banner__content">
      <h1 class="banner__title banner__title_type_smallbanner">Truckload freight purchase</h1>
    </div>
  </div>
</div>
<div class="breadcrumb">
  <%= link_to calculations_path, class: '' do %>
    <i class="fas fa-chevron-left"></i> Back
  <% end %>
</div>
<div class="purchase-scheme-picture">
  <%= image_tag 'truckload_freight.png' %>
</div>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-8 ">
      <div class="form form__search">
        <%= form_tag searches_path, method: :get do %>
          <%= hidden_field_tag :search_type, value: "truckload" %>
          <%= text_field_tag :places_of_loading,
            params[:places_of_loading],
            class: "form-control",
            placeholder: "Choose a place of loading"
          %>
          <%= select_tag :city, ["Berlin", "Chicago", "Madrid"] %>
          <%= text_field_tag :places_of_delivery,
            params[:places_of_delivery],
            class: "form-control",
            placeholder: "Choose a place of loading"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <%= form_with url: "/search", method: :get do |form| %>
          <%= form.label :query, "Search for:" %>
          <%= form.text_field :query %>
          <%= form.select :city, ["Berlin", "Chicago", "Madrid"], input_html: { class: 'select2' } %>
          <%= form.submit "Search" %>
        <% end %>
      </div>
    </div>
  </div>
</div>